.item-label[data-v-66815b43] {
  font-size: 16px;
  color: #bbdefb;
}
.col-fit[data-v-66815b43] {
  flex: 1 0;
}
.p-color[data-v-66815b43] {
  color: #ec7676;
}
.s-color[data-v-66815b43] {
  color: #7aaff1;
}
.p-bg[data-v-66815b43] {
  background-color: rgba(236, 118, 118, 0.2);
}
.s-bg[data-v-66815b43] {
  background-color: rgba(122, 175, 241, 0.2);
}
.probability[data-v-66815b43] {
  height: 28px;
  padding: 0 10px;
}