.gutter-80 .scarab-box[data-v-10f936d8] {
  margin-right: 6px;
}
.scarab-box[data-v-10f936d8] {
  position: relative;
  width: 46px;
  height: 46px;
  margin-right: 3px;
}
.scarab-box.empty[data-v-10f936d8] {
  border-color: transparent;
  background-color: transparent;
}
.scarab-box[data-v-10f936d8]:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: opacity(0.7);
  z-index: 1;
}
.scarab-box[data-v-10f936d8]:last-child {
  margin-right: 0;
}
.scarab-box .highlight0-text[data-v-10f936d8] {
  color: white;
}
.scarab-box .highlight1-text[data-v-10f936d8] {
  color: #fff176;
}
.scarab-box .highlight2-text[data-v-10f936d8] {
  color: #ffca28;
}
.scarab-box .highlight3-text[data-v-10f936d8] {
  color: #ffb300;
}
.scarab-box .highlight4-text[data-v-10f936d8] {
  color: #ffa726;
}
.scarab-box .highlight5-text[data-v-10f936d8] {
  color: #ff9800;
}
.scarab-box .highlight6-text[data-v-10f936d8] {
  color: #fb8c00;
}
.scarab-box .highlight7-text[data-v-10f936d8] {
  color: #ff7043;
}
.scarab-box .highlight8-text[data-v-10f936d8] {
  color: #ff5722;
}
.scarab-box .highlight9-text[data-v-10f936d8] {
  color: red;
}
.scarab-name[data-v-10f936d8] {
  color: #b2ebf2;
  font-size: 16px;
}
.scarab-description[data-v-10f936d8] {
  font-size: 14px;
  margin-top: 12px;
}.scarab-stash[data-v-5aca90ac] {
  width: 800px;
  height: 800px;
  background-image: url("/poe-play/icons/background-scarab.png");
  background-size: 800px 800px;
  background-repeat: no-repeat;
}
.scarab-groups.gutter-30 > div[data-v-5aca90ac] {
  margin-left: 30px;
}
.scarab-groups.gutter-30 > div[data-v-5aca90ac]:first-child {
  margin-left: 0;
}
.scarab-groups.gutter-40 > div[data-v-5aca90ac] {
  margin-left: 40px;
}
.scarab-groups.gutter-40 > div[data-v-5aca90ac]:first-child {
  margin-left: 0;
}
.scarab-groups.gutter-50 > div[data-v-5aca90ac] {
  margin-left: 50px;
}
.scarab-groups.gutter-50 > div[data-v-5aca90ac]:first-child {
  margin-left: 0;
}
.scarab-groups.gutter-80 > div[data-v-5aca90ac] {
  margin-left: 76px;
}
.scarab-groups.gutter-80 > div[data-v-5aca90ac]:first-child {
  margin-left: 0;
}
.scarab-group[data-v-5aca90ac] {
  position: relative;
}
.scarab-type-icon[data-v-5aca90ac] {
  z-index: 4;
  top: -12px;
  left: -16px;
}
.currency-type[data-v-5aca90ac] {
  opacity: 0.4;
  filter: grayscale(1);
}
.currency-type.active-currency[data-v-5aca90ac] {
  opacity: 1;
  filter: grayscale(0);
}
.loading-chaos[data-v-5aca90ac] {
  animation: loading-5aca90ac 3s linear infinite;
}
@keyframes loading-5aca90ac {
0% {
    transform: translate(-150px, -40px) rotate(0deg);
}
10% {
    transform: translate(-120px, -5px) rotate(144deg);
}
90% {
    transform: translate(120px, -5px) rotate(1296deg);
}
100% {
    transform: translate(150px, -40px) rotate(1440deg);
}
}