.scarab-group.wide .scarab-box[data-v-67740da5] {
  margin-right: 7px;
}
.scarab-box[data-v-67740da5] {
  position: relative;
  width: 46px;
  height: 46px;
  margin-right: 3px;
}
.scarab-box.empty[data-v-67740da5] {
  border-color: transparent;
  background-color: transparent;
}
.scarab-box[data-v-67740da5]:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: opacity(0.7);
  z-index: 1;
}
.scarab-box[data-v-67740da5]:last-child {
  margin-right: 0;
}
.scarab-box .q-img[data-v-67740da5] {
  opacity: 0.75;
}
.scarab-box .highlight0-text[data-v-67740da5] {
  color: white;
}
.scarab-box .highlight1-text[data-v-67740da5] {
  color: #fff176;
}
.scarab-box .highlight2-text[data-v-67740da5] {
  color: #ffca28;
}
.scarab-box .highlight3-text[data-v-67740da5] {
  color: #ffb300;
}
.scarab-box .highlight4-text[data-v-67740da5] {
  color: #ffa726;
}
.scarab-box .highlight5-text[data-v-67740da5] {
  color: #ff9800;
}
.scarab-box .highlight6-text[data-v-67740da5] {
  color: #fb8c00;
}
.scarab-box .highlight7-text[data-v-67740da5] {
  color: #ff7043;
}
.scarab-box .highlight8-text[data-v-67740da5] {
  color: #ff5722;
}
.scarab-box .highlight9-text[data-v-67740da5] {
  color: red;
}
.scarab-box.highlight9[data-v-67740da5]:after {
  background-color: rgba(255, 0, 0, 0.35);
}
.scarab-box.highlight9 .q-img[data-v-67740da5] {
  opacity: 1;
}
.scarab-name[data-v-67740da5] {
  color: #b2ebf2;
  font-size: 16px;
}
.scarab-description[data-v-67740da5] {
  font-size: 14px;
  margin-top: 12px;
}.scarab-stash[data-v-08632f5a] {
  width: 800px;
  height: 800px;
  background-image: url("/poe-play/icons/scarab-stash-3.26.png");
  background-size: 800px 800px;
  background-repeat: no-repeat;
  position: relative;
}
.scarab-group[data-v-08632f5a] {
  position: absolute;
}
.scarab-type-icon[data-v-08632f5a] {
  z-index: 4;
  top: -12px;
  left: -16px;
}
.currency-type[data-v-08632f5a] {
  opacity: 0.4;
  filter: grayscale(1);
}
.currency-type.active-currency[data-v-08632f5a] {
  opacity: 1;
  filter: grayscale(0);
}
.loading-chaos[data-v-08632f5a] {
  animation: loading-08632f5a 3s linear infinite;
}
@keyframes loading-08632f5a {
0% {
    transform: translate(-150px, -40px) rotate(0deg);
}
10% {
    transform: translate(-120px, -5px) rotate(144deg);
}
90% {
    transform: translate(120px, -5px) rotate(1296deg);
}
100% {
    transform: translate(150px, -40px) rotate(1440deg);
}
}