.scarab-group[data-v-cb05b0b4] {
  overflow: hidden;
}
.scarab-group[data-v-cb05b0b4]:nth-child(n+2) {
  margin-left: 24px;
}
.scarab-group .scarab-box[data-v-cb05b0b4] {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #757575;
  background-color: #212121;
  margin-right: 4px;
}
.scarab-group .scarab-box[data-v-cb05b0b4]:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: opacity(0.7);
  z-index: 1;
}
.scarab-group .scarab-box[data-v-cb05b0b4]:last-child {
  margin-right: 0;
}
.scarab-group .scarab-box.highlight0[data-v-cb05b0b4]:after {
  background-color: transparent;
}
.scarab-group .scarab-box.highlight1[data-v-cb05b0b4]:after {
  background-color: #fff176;
}
.scarab-group .scarab-box.highlight2[data-v-cb05b0b4]:after {
  background-color: #ffca28;
}
.scarab-group .scarab-box.highlight3[data-v-cb05b0b4]:after {
  background-color: #ffb300;
}
.scarab-group .scarab-box.highlight4[data-v-cb05b0b4]:after {
  background-color: #ffa726;
}
.scarab-group .scarab-box.highlight5[data-v-cb05b0b4]:after {
  background-color: #ff9800;
}
.scarab-group .scarab-box.highlight6[data-v-cb05b0b4]:after {
  background-color: #fb8c00;
}
.scarab-group .scarab-box.highlight7[data-v-cb05b0b4]:after {
  background-color: #ff7043;
}
.scarab-group .scarab-box.highlight8[data-v-cb05b0b4]:after {
  background-color: #ff5722;
}
.scarab-group .scarab-box.highlight9[data-v-cb05b0b4]:after {
  background-color: red;
}
.scarab-name[data-v-cb05b0b4] {
  color: #b2ebf2;
  font-size: 16px;
}
.scarab-description[data-v-cb05b0b4] {
  font-size: 14px;
  margin-top: 12px;
}
.currency-type[data-v-cb05b0b4] {
  opacity: 0.4;
  filter: grayscale(1);
}
.currency-type.active-currency[data-v-cb05b0b4] {
  opacity: 1;
  filter: grayscale(0);
}
.loading-chaos[data-v-cb05b0b4] {
  animation: loading-cb05b0b4 3s linear infinite;
}
@keyframes loading-cb05b0b4 {
0% {
    transform: translate(-150px, -40px) rotate(0deg);
}
10% {
    transform: translate(-120px, -5px) rotate(144deg);
}
90% {
    transform: translate(120px, -5px) rotate(1296deg);
}
100% {
    transform: translate(150px, -40px) rotate(1440deg);
}
}