.scarab-group.wide .scarab-box[data-v-779bab02] {
  margin-right: 7px;
}
.scarab-box[data-v-779bab02] {
  width: 46px;
  height: 46px;
  margin-right: 3px;
}
.scarab-box.empty[data-v-779bab02] {
  border-color: transparent;
  background-color: transparent;
}
.scarab-box[data-v-779bab02]:last-child {
  margin-right: 0;
}
.scarab-box .highlight0-text[data-v-779bab02] {
  color: white;
}
.scarab-box .highlight1-text[data-v-779bab02] {
  color: #fff176;
}
.scarab-box .highlight2-text[data-v-779bab02] {
  color: #ffca28;
}
.scarab-box .highlight3-text[data-v-779bab02] {
  color: #ffb300;
}
.scarab-box .highlight4-text[data-v-779bab02] {
  color: #ffa726;
}
.scarab-box .highlight5-text[data-v-779bab02] {
  color: #ff9800;
}
.scarab-box .highlight6-text[data-v-779bab02] {
  color: #fb8c00;
}
.scarab-box .highlight7-text[data-v-779bab02] {
  color: #ff7043;
}
.scarab-box .highlight8-text[data-v-779bab02] {
  color: #ff5722;
}
.scarab-box .highlight9-text[data-v-779bab02] {
  color: red;
}
.scarab-box.highlight9[data-v-779bab02]:after {
  background-color: rgba(255, 0, 0, 0.3);
}
.scarab-box.highlight9 .q-img[data-v-779bab02] {
  opacity: 1;
}.scarab-stash[data-v-560ce4f5] {
  width: 800px;
  height: 800px;
  background-image: url("/poe-play/images/scarab-stash-3.26.png");
  background-size: 800px 800px;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 32px;
}
.scarab-group[data-v-560ce4f5] {
  position: absolute;
}
.scarab-type-icon[data-v-560ce4f5] {
  z-index: 4;
  top: -12px;
  left: -16px;
}.fossil-box[data-v-e3f828a4] {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}
.fossil-box.highlight-red[data-v-e3f828a4]:after {
  background-color: rgba(255, 0, 0, 0.3);
}.resonator-box[data-v-0df36b59] {
  position: relative;
  overflow: hidden;
}
.resonator-box.unit-size-1[data-v-0df36b59] {
  width: 71px;
  height: 73px;
}
.resonator-box.unit-size-1 .q-img[data-v-0df36b59] {
  width: 49px;
}
.resonator-box.unit-size-2[data-v-0df36b59] {
  width: 76px;
  height: 124px;
}
.resonator-box.unit-size-2 .q-img[data-v-0df36b59] {
  width: 52px;
}
.resonator-box.unit-size-3[data-v-0df36b59] {
  width: 124px;
  height: 124px;
}
.resonator-box.unit-size-3 .q-img[data-v-0df36b59] {
  width: 94px;
}
.resonator-box.unit-size-4[data-v-0df36b59] {
  width: 124px;
  height: 124px;
}
.resonator-box.unit-size-4 .q-img[data-v-0df36b59] {
  width: 96px;
}
.resonator-name[data-v-0df36b59] {
  color: #b2ebf2;
  font-size: 16px;
}.fossil-stash[data-v-a2f75018] {
  width: 800px;
  height: 800px;
  background-image: url("/poe-play/images/fossil-stash.png");
  background-size: 800px 800px;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 32px;
}
.fossil-stash .fossil-unit[data-v-a2f75018] {
  position: absolute;
}
.fossil-stash .resonator-unit[data-v-a2f75018] {
  position: absolute;
}.oil-box[data-v-46be3e02] {
  width: 65px;
  height: 64px;
  border-radius: 4px;
}
.oil-box.highlight-red[data-v-46be3e02]:after {
  background-color: rgba(255, 0, 0, 0.3);
}.oil-stash[data-v-5954c458] {
  width: 800px;
  height: 800px;
  background-image: url("/poe-play/images/oil-stash.png");
  background-size: 800px 800px;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 32px;
}
.oil-stash .oil-unit[data-v-5954c458] {
  position: absolute;
}.orb-box[data-v-aa8b067a] {
  width: 73px;
  height: 72px;
}.delirium-orb-stash[data-v-666aa1d3] {
  width: 800px;
  height: 800px;
  background-image: url("/poe-play/images/delirium-orb-stash.png");
  background-size: 800px 800px;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 32px;
}
.delirium-orb-stash .orb-unit[data-v-666aa1d3] {
  position: absolute;
  border: 1px solid rgba(150, 150, 180, 0.3);
}.catalyst-stash[data-v-072a90d7] {
  width: 800px;
  height: 800px;
  background-image: url("/poe-play/images/catalyst-stash.png");
  background-size: 800px 800px;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 32px;
}